<div class="whole-container">
<div class= "header-container">
<h1>What is it</h1>
<h1>How it works</h1>
</div>
<div class="horizontal-lines"><hr><hr></div>
<div class= "content-container">
    <p>Have you ever wondered if you truly know some of your favorite songs on spotify? Well, have no fear Lyrical tests your true skills.</p>>
    <p>You will first see your top most played songs from your spotify library. From there you will take a quiz that will give a lyric from a random top song. Your job is to finish the lyrics.</p>
 </div>
<a href="https://accounts.spotify.com/authorize?client_id=8669b3ba7e4649498cf157e58552bb0c&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fdashboard&scope=user-top-read"><button>Get Started</button> </a>
</div>
