.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 37%;
  & .song-row {
    display: flex;
    align-items: center;

    & p {
      font-size: 24px;
      margin-left: 2%;
    }
    & img {
      border-radius: 50%;
    }
  }
}
